.my-header {
  width: 100%;
  height: 700px;
}

.my-header img {
  width: 100%;
  height: 922px;
  position: absolute;
  z-index: -22;
  top: 0;
}

.my-header .my-navbar {
  background: rgba(0, 0, 0, 0.3) !important;
}

.my-navbar .navbar-brand {
  color: whitesmoke;
}

.my-navbar .navbar-nav li a {
  color: whitesmoke;
}
.nav-links {
  height: 1000px;
}
