<head>
    <link rel="stylesheet" type="text/css" href="/public/css/secondary.css" />
</head>
<div class="container-navbar">

    <div class="row-nav">
        <% include ./navbar %>
    </div>
</div>
<!-- <div class="spacer10"></div> -->
<div class="container-fluid" id="aboutDesc">
    <div class="row">
        <div class="col-12" id="emptyContainer">

        </div>
    </div>
    <div class="row">
        <div class=" col-md-7 ">
            <p class="text">

                Stocks have sunk well below their all-time highs, with various major
                indexes across the globe having endured corrections of at least 10%,
                or bear market declines of 20% or more. The most widely followed
                barometer of U.S. stocks, the S&P 500 Index (SPX), came within a
                hair of a 20% bear market drop in late December and closed on
                January 3, 2019, at 16.8% below its record peak set in September.
                What lies ahead in 2019? Three respected market gurus recently
                offered their views. Byron Wien of The Blackstone Group is
                "optimistic," and Jeremy Siegel of The Wharton School expects "quite
                a good year," both of them envisioning gains of up to 15% for the
                S&P 500 in 2019. However, Jack Bogle, founder of The Vanguard Group,
                advises taking "a little extra caution." Meanwhile, the consensus
                view of market strategists on Wall Street is that the index will
                close 2019 at a new record high of 3,000, up by 19.7% from the 2018
                close, per a CNBC survey.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="subheading mb-7">Programming Languages &amp; Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item">
                    <i class="fab fa-html5"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-css3-alt"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-js-square"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-node-js"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-sass"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fab fa-npm"></i>
                </li>
            </ul>
            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Desktop-First, Responsive Design
                </li>
                <li>
                    <i class="fa-li fa fa-check"></i>
                    Cross Browser Testing &amp; Debugging
                </li>
            </ul>
        </div>
    </div>
</div>