<head>

    <!-------------------------Add css to ejs file--------------------------->
    <link rel="stylesheet" type="text/css" href="/public/css/secondary.css" />

</head>

<!-- Container for navbar  -->
<div class="container-navbar">

    <div class="row-nav">

        <% include ./navbar %>

    </div>

</div>

<!-- Empty container -->
<div class="container-fluid" id="aboutDesc">

    <div class="row">

        <div class="col-12" id="emptyContainer"> </div>

    </div>

    <div class="row">

        <!-- Text  -->
        <div class=" col-md-7 ">

            <p class="text">

                Nstocks is a web app about Stock market.It takes data for the stocks from Alpha Vantage
                and visualize them using charts.You can also monitor current high,low,close,previous close,
                ,open.You can register and follow your favorite stocks to have them organized in your userpage.Lastly,
                you can set upper lower bounds and if value of stock get bigger or lower that these, server will send
                you an email to notify you.
                The back-end is built with nodejs,express and other
                packages from npm and the frond-end is built with bootstrap,ejs,css and javascript.
                The server make Api calls and send data to client which put them to arrays and visualize them
                with charts for 1 Day,2 Days, 1 Month, 5 Months, 1 Year, 5 Years and Max years.
                Client and server communicate with Ajax.The web app is online using heroku and github.

            </p>

        </div>

    </div>

    <div class="row">


        <!-- Container for tool icons -->
        <div class="col-md-7">

            <div class="subheading mb-7">Programming Languages &amp; Tools</div>

            <ul class="list-inline dev-icons">

                <li class="list-inline-item">

                    <i class="fab fa-html5"></i>
                </li>

                <li class="list-inline-item">

                    <i class="fab fa-css3-alt"></i>

                </li>

                <li class="list-inline-item">

                    <i class="fab fa-js-square"></i>

                </li>

                <li class="list-inline-item">

                    <i class="fab fa-node"></i>

                </li>

                <li class="list-inline-item">

                    <i class="fab fa-adobe"></i>

                </li>

                <li class="list-inline-item">

                    <i class="fab fa-github"></i>

                </li>

                <li class="list-inline-item">

                    <i class="fab fa-npm"></i>

                </li>

            </ul>

            <!-- Workflow Container -->
            <div class="subheading mb-3">Workflow</div>

            <ul class="fa-ul mb-0">

                <li>
                    <i class="fa-li fa fa-check"></i>

                    Desktop-First, Responsive Design

                </li>

                <li>
                    <i class="fa-li fa fa-check"></i>

                    Cross Browser Testing &amp; Debugging

                </li>

            </ul>

        </div>

    </div>

</div>