<head>

    <link rel="stylesheet" type="text/css" href="/public/css/secondary.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/third.css" />

</head>

<!-- Container for navbar  -->
<div class="container-navbar">

    <div class="row-nav">

        <% include ./navbar %>

    </div>

</div>

<!-- Container for Dashboard -->
<div class="container-dashboard">

    <div class=row>

        <!-- Container for Timer-->
        <div class="col-sm col-xs-4 col-md-3 col-lg-3" id="gettingValuesExample">

            <span class="seconds"> </span>

        </div>

    </div>

</div>

<div class="row">

    <!-- Container for list with stocks which user follows -->
    <div class="col-sm col-xs col-md-2 col-lg-2 list-container">

        <ul class="list-group-stocks" id="listStocks"> </ul>

    </div>

    <!-- Container for Charts-->
    <div class="col-sm col-xs col-md-10 col-lg-10" id="charts">

        <section id="tabs">

            <!-- Container for tabs -->
            <div class="container">

                <nav>

                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                        <a class="nav-item nav-link active" id="nav-1Day-tab" data-toggle="tab" href="#nav-1Day"
                            role="tab" aria-controls="nav-home" aria-selected="true">1Day</a>

                        <a class="nav-item nav-link" id="nav-3Days-tab" data-toggle="tab" href="#nav-3Days" role="tab"
                            aria-controls="nav-profile" aria-selected="false">3Days</a>

                        <a class="nav-item nav-link" id="nav-1Month-tab" data-toggle="tab" href="#nav-1Month" role="tab"
                            aria-controls="nav-contact" aria-selected="false">1Month</a>

                        <a class="nav-item nav-link" id="nav-4Months-tab" data-toggle="tab" href="#nav-4Months"
                            role="tab" aria-controls="nav-about" aria-selected="false">4Months</a>

                        <a class="nav-item nav-link" id="nav-1Year-tab" data-toggle="tab" href="#nav-1Year" role="tab"
                            aria-controls="nav-about" aria-selected="false">1Year</a>

                        <a class="nav-item nav-link" id="nav-5Years-tab" data-toggle="tab" href="#nav-5Years" role="tab"
                            aria-controls="nav-about" aria-selected="false">5Years</a>

                        <a class="nav-item nav-link" id="nav-max-tab" data-toggle="tab" href="#nav-max" role="tab"
                            aria-controls="nav-about" aria-selected="false">Max</a>

                    </div>

                </nav>

                <!-- -------------------Charts-------------------->
                <div class="tab-content" id="nav-tabContent">

                    <!-- Chart 1 Day -->
                    <div class="tab-pane fade show active" id="nav-1Day" role="tabpanel"
                        aria-labelledby="nav-profile-tab">

                        <canvas id="myChart1Day"> </canvas>

                    </div>

                    <!-- Chart 3 Days -->
                    <div class="tab-pane fade" id="nav-3Days" role="tabpanel" aria-labelledby="nav-contact-tab">

                        <canvas id="myChart3Days"> </canvas>

                    </div>

                    <!-- Chart 1 Month -->
                    <div class="tab-pane fade" id="nav-1Month" role="tabpanel" aria-labelledby="nav-about-tab">

                        <canvas id="myChart1Month"></canvas>

                    </div>

                    <!-- Chart 4 Months -->
                    <div class="tab-pane fade" id="nav-4Months" role="tabpanel" aria-labelledby="nav-about-tab">

                        <canvas id="myChart4Months"></canvas>

                    </div>

                    <!-- Chart 1 year-->
                    <div class="tab-pane fade" id="nav-1Year" role="tabpanel" aria-labelledby="nav-about-tab">

                        <canvas id="myChart1Year"></canvas>

                    </div>

                    <!-- Chart 5 years -->
                    <div class="tab-pane fade" id="nav-5Years" role="tabpanel" aria-labelledby="nav-about-tab">

                        <canvas id="myChart5Years"></canvas>

                    </div>

                    <!-- Chart Max -->
                    <div class="tab-pane fade " id="nav-max" role="tabpanel" aria-labelledby="nav-max-tab">

                        <canvas id="myChart"></canvas>

                    </div>

                </div>

            </div>

        </section>

    </div>

    <!-- Container for Data about the Stock -->
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" id="cardBody">

        <div class="row">

            <div class="col-sm-4 col-xs-4 col-md-2 col-lg-2 card-body" id="header">

                <!--Stocks name   -->
                <h4 id="holder"> </h4>

                <!-- Stocks symbol -->
                <h5 id="holderSymbol"> </h5><a id="diference"></a>

            </div>

            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 card-body" id="openCard">

                <!-- Open -->
                <p class="card-text">Open:<a id="open"></a></p>

                <!-- High -->
                <p class="card-text">High:<a id="high"></a></p>

            </div>

            <div class="col-sm-3 col-xs-3 col-md-2 col-lg-2 card-body" id="lowCard">

                <!-- Low -->
                <p class="card-text">Low:<a id="low"></a></p>

                <!-- Prev Close-->
                <p class="card-text">Prev Close:<a id="PrevClose"></a></p>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript" src="/public/js/api.js"></script>
<script type="text/javascript" src="/public/js/chart.js"></script>
<script type="text/javascript" src="/public/js/dash-search.js"></script>

<!--Script for the timer to start when refreshing page-->
<script> setTimer();</script>

<!--Script for Defining the Stock -->
<script>DefineStock();</script>

</div>