<head>
    <link rel="stylesheet" type="text/css" href="/public/css/third.css" />

</head>

<ul class="list-group-stocks" id="listStocks">
    <!-- <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        id="<%=user.stock[0] %>" data-value="stocks" href="#">
        <%=user.stock[0] %>
        <% if (user.stock[0]!="null"){%> <span class="badge badge-primary badge-pill">+14 </span>
        <%}%>
    </li> -->


</ul>



<!-- <script type="text/javascript" src="/public/js/dash-search.js"></script> -->