<head>

    <!-------------------------Add css to ejs file--------------------------->
    <link rel="stylesheet" type="text/css" href="/public/css/secondary.css" />

</head>

<div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">

        <div class="modal-header primary-color white-text">

            <h4 class="title"> Login</h4>

        </div>

        <div class="modal-body">

            <!-- Include error , success messages -->
            <% include ./partials/messages %>

            <!-- Send email password to server to login -->
            <form action="/users/login " method="POST">

                <div class="input-group Email mb-3">

                    <div class="input-group-prepend">

                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>

                    </div>

                    <!-- Field for email-->
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>" />

                </div>

                <!-- Field for password-->
                <div class="input-group Password mb-3">

                    <div class="input-group-prepend">

                        <span class="input-group-text"><i class="fas fa-lock"></i></span>

                    </div>

                    <input type="password" class="form-control" id="password" name="password"
                        aria-describedby="PasswordHelp" placeholder="Enter password"
                        value="<%= typeof password != 'undefined' ? password : '' %>" />

                </div>

                <!-- Submit btn -->
                <div class="text-center">

                    <div class="Login">

                        <button type="submit" class="btn btn-primary btn-lg" id="loginBtn">
                            Login
                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>