<head>
  <link rel="stylesheet" type="text/css" href="/public/css/secondary.css" />
</head>
<% include ./navbar %>
<section>
  <div class="description">
    <h1>
      PAGE FOR PREDICTIONS
    </h1>
    <p>This is a site about stock market and stock predictions</p>
  </div>
</section>