<head>

  <link rel="stylesheet" type="text/css" href="/public/css/secondary.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/third.css" />


  <script type="text/javascript" src="/public/js/chart.js"></script>
  <script type="text/javascript" src="/public/js/api.js"></script>
</head>

<body>

  <% include ./navbar %>

  <div class="container-stock">

    <div class="row">

      <!-- Send name of stock from follow button to database -->


      <!-- value="<%= typeof stock != 'undefined' ? stock : '' %>" /> -->
      <div class="col-md" style="position: relative; height:80vh; width:50vw">
        <div class="modal-header">

          <form id="send" action="/stocks" method="POST">

            <button type="submit" name="stock" id="stock" class="btn btn-primary btn-block" value="stock :">
              Follow Stock
            </button>

          </form>
        </div>


        <ul class="nav nav-tabs" id="tabContent">
          <li class="active"><a href="#oneDay" data-toggle="tab">1 Day |</a></li>
          <li><a href="#Days" data-toggle="tab">| 3 Days |</a></li>
          <li><a href="#Month" data-toggle="tab">| 1 Month |</a></li>
          <li><a href="#fourMonths" data-toggle="tab">| 4 Months |</a></li>
          <li><a href="#oneYear" data-toggle="tab">| 1 Year |</a></li>
          <li><a href="#fiveYears" data-toggle="tab">| 5 Years |</a></li>
          <li><a href="#max" data-toggle="tab">| Max</a></li>
        </ul>

        <div class="tab-content" id=charts-container>
          <div class="tab-pane active" id="max">

            <canvas id="myChart">
              <script>

                $.when(chartIt()).done(function () {
                  chartIt1Year();
                  chartIt5Years();
                });</script> </canvas>


          </div>

          <div class="tab-pane" id="oneDay">
            <canvas id="myChart1Day">
              <script>

                $.when(chartIt1Day()).done(function () {
                  chartIt3Days();
                });</script> </canvas>
          </div>


          <div class="tab-pane" id="Days">
            <canvas id="myChart3Days">

            </canvas>
          </div>

          <div class="tab-pane" id="Month">
            <canvas id="myChart1Month">
              <script>

                $.when(chartIt1Month()).done(function () {
                  chartIt4Months();
                });
              </script> </canvas>
          </div>

          <div class="tab-pane" id="fourMonths">
            <canvas id="myChart4Months">
              <script>


              </script> </canvas>
          </div>
          <div class="tab-pane" id="oneYear">
            <canvas id="myChart1Year">
              <script>


              </script> </canvas>
          </div>

          <div class="tab-pane" id="fiveYears">
            <canvas id="myChart5Years">

              <script>


              </script> </canvas>
          </div>

        </div>


      </div>

      <div class="col-sm">

        <form action="javascript:void(0)" class="form-inline md-form mr-auto mb-4" autocomplete="off">

          <input id="myInput" type="text" name="Stocks" class="form-control mr-sm-2" type="text" placeholder="Search"
            aria-label="Search">
          <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit" id="suButton">Search</button>

        </form>

      </div>

    </div>

  </div>


  </div>
  </div>

  <script type="text/javascript" src="/public/js/search.js"></script>
  <script type="text/javascript" src="/public/js/api.js"></script>
  <script> searchStock();</script>

</body>

</html>