<head>

  <link rel="stylesheet" type="text/css" href="/public/css/secondary.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/third.css" />


  <script type="text/javascript" src="/public/js/chart.js"></script>
  <script type="text/javascript" src="/public/js/api.js"></script>
</head>

<body>

  <% include ./navbar %>

  <div class="container-stock">

    <div class="row">

      <!-- Send name of stock from follow button to database -->


      <!-- value="<%= typeof stock != 'undefined' ? stock : '' %>" /> -->
      <div class="col-md" style="position: relative; height:80vh; width:50vw">
        <div class="modal-header">

          <form id="send" action="/stocks" method="POST">

            <button type="submit" name="stock" id="stock" class="btn btn-primary btn-block" value="stock :">
              Follow Stock
            </button>

          </form>
        </div>


        <ul class="nav nav-tabs" id="tabContent">
          <li class="active"><a href="#weekly" data-toggle="tab">Weekly |</a></li>
          <li><a href="#realTime" data-toggle="tab">| Realtime</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="weekly">

            <canvas id="myChart">
              <script>chartIt();</script> </canvas>


          </div>

          <!-- <div class="tab-pane" id="realitime-tab">

            <canvas id="myChartRealtime">
              <script>chartItRealtime();</script> </canvas>
          </div> -->


          <div class="tab-pane" id="realTime">
            <canvas id="myChartReal">
              <script>chartItReal();</script> </canvas>
          </div>
        </div>


      </div>

      <div class="col-sm">

        <form action="javascript:void(0)" class="form-inline md-form mr-auto mb-4" autocomplete="off">

          <input id="myInput" type="text" name="Stocks" class="form-control mr-sm-2" type="text" placeholder="Search"
            aria-label="Search">
          <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit" id="suButton">Search</button>

        </form>

      </div>

    </div>

  </div>


  </div>
  </div>

  <script type="text/javascript" src="/public/js/search.js"></script>
  <script type="text/javascript" src="/public/js/api.js"></script>
  <script> searchStock();</script>

</body>

</html>