body,html{
  height:100%;
  margin:0;
 padding:0;
}

.nav-link,
.navbar-brand {
  color: #fafafa;
  padding: 30px;
  height: 50px;
  line-height: 20px;
}
.nav-link:hover{
  color:  #8a3434 !important;
}
.navbar-brand:hover {
  color:  #8a3434 !important;
}
.nav-link {
  margin-right: 2em !important;
}
.navbardiv{
  min-height: 76px;
}


.description {

  align-self:center;
  justify-self: center;
  margin-top:50px;
 padding-left:50px;
}

.description h1 {
  color: #ffffff;
}
.description p {
  color: #ffffff;
  font-size: 20px;
  width: 100%;
  line-height: 1.5;
}

#DescBtn {
  background: transparent;
  color: #1b0e02;
  background: #8a3434;
}

#DescBtn:hover {
  background-color: #cc1e1e;

}

.social-icons a:hover {
  background-color: #8a3434;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #01060c;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons {
  position: absolute;
  bottom: 5%;
  
}



body{
  background:rgb(195, 198, 201) url(../photos/Group\ 1.svg) no-repeat;
  background-position: top right;
  width:100%;
  display:grid;
  grid-template-columns:auto;
}
#svg{
  padding-right:0px;
}

svg{
  width: 400px;
  align-self:center;
  justify-self: center;
  margin-left:250px;
  margin-top:100px;


}
#rowHome{
  margin:0;
}

svg #Browser{
  animation-duration: 1.5s;
  animation-name:animateBrowser;
  animation-iteration-count: infinite;
animation-direction: alternate;
mix-blend-mode:normal;
}

@keyframes animateBrowser {
  from{
    transform:translateX(0px) translateY(0px);
    opacity:0;
  }
  to{
    transform:translateX(170px) translateY(-160px);
    opacity:1;  }
}

