body{
  overflow: hidden;
}
/* Set up color,hover width and height of navbar */
.nav-link{

  color: #fafafa;
  padding: 10px;
  height: 50px;
  line-height: 20px; 
}

/* Add logo properties to Homepage */
.navbar-brand {

  padding: 5px;
  height: 50px;
  line-height: 20px;
}

.nav-link:hover{

  color:  #5B0005 !important;
}

.navbar-brand:hover {

  color: #5B0005 !important;
}

.nav-link {

  margin-right: 3em !important;
}

.navbardiv{

  min-height: 76px;
}

/* Position of the welcome text in homepage */
.description {

  align-self:center;
  justify-self: center;
  margin-top:50px;
 padding-left:50px;
}

.description h1 {

  color: #ffffff;
}

.description p {

  color: #ffffff;
  font-size: 20px;
  width: 100%;
  line-height: 1.5;
}

/* Sign up Btn  */
#DescBtn {

  background: transparent;
  color: #000000;
  background-blend-mode: normal,overlay,overlay,normal,normal,normal,normal!important;
    background-image: linear-gradient(301deg,rgba(44,34,150,0),#5B0005), linear-gradient(rgba(98, 14, 14, 0.95),rgba(88, 2, 2, 0.95)), linear-gradient(141deg,#6e0909,#a5a5a5), linear-gradient(238deg,rgba(173,32,142,0),#b9a4b5), linear-gradient(42deg,rgba(0,190,213,0),rgba(0, 0, 0, 0.85) 95%,rgb(39, 5, 3) 87%,#000000), linear-gradient(126deg,rgba(0,190,213,0),#000607), linear-gradient(#000000,#700808)!important;
}

#DescBtn:hover {

  color:  #ffffff;
  background-blend-mode: normal,overlay,overlay,normal,normal,normal,normal!important;
  background-image: linear-gradient(301deg,rgba(44,34,150,0),#5B0005), linear-gradient(rgba(98, 14, 14, 0.95),rgba(88, 2, 2, 0.95)), linear-gradient(141deg,#6e0909,#a5a5a5), linear-gradient(238deg,rgba(173,32,142,0),#b9a4b5), linear-gradient(42deg,rgba(0,190,213,0),rgba(0, 0, 0, 0.85) 95%,rgb(39, 5, 3) 87%,#000000), linear-gradient(126deg,rgba(0,190,213,0),#000607), linear-gradient(#000000,#700808)!important;
}

/*social Icons at the bottom page of welcome page */
.social-icons a:hover {

 
}

.social-icons a {

  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
 
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

#socialRow{

  min-height: 56px;
}

/* Add background svg to homepage */
body{

  background:rgb(195, 198, 201) url(../photos/Group\ 1.svg) no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display:grid;
  grid-template-columns:auto;
  margin:0;
  padding:0;
}

#svg{

  padding-right:0px;
}

/* Set svg to homepage at center  */
svg{

  width: 490px;
  align-self:center;
  justify-self: center;
  margin-left:250px;
  margin-top:100px;
}
@media (max-width:991px) {
  .navbar-nav  {
    background-color:black;
  }
}

#rowHome{
  font-family: muli,sans-serif;
  font-weight: 600;
  
  font-style: normal;
  margin:0;
}

/* Animation to make arrow move  */
svg #Browser{

  animation-duration: 1.8s;
  animation-name:animateBrowser;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  mix-blend-mode:normal;
}

/* Where to move arrow  */
@keyframes animateBrowser {

  from{

    transform:translateX(0px) translateY(0px);
    opacity:0;
  }

  to{

    transform:translateX(190px) translateY(-195px);
    opacity:1;  }
}

#DescBtn:focus {
  border-color: none;
  box-shadow: none;
} 
#profileBtn:hover{

  color: #ffffff;
  background-color:#5B0005;
}

#logoutBtn:hover{

  color: #ffffff;
  background-color:#5B0005;
}

.dot {
  position: relative;
  top:-9px;
  height: 10px;
  width: 10px;
  background-color:#5B0005;
  border-radius: 50%;
  display: inline-block;
}


 .notification:hover{
  color: #ffffff;
  background-color:#5B0005;
}

.close{
margin-right:-21px;

}
  #notification:hover{

    color: #ffffff;
    background-color:#5B0005;
  }


@media only screen and (max-width: 998px) {

  svg{
    width:300px;
    margin-left: 150px;
  }

  .social-icons a {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;

    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-right: 1rem;

  
  }
}


@media only screen and (min-width: 576px) and (max-width: 778px) {

  svg{
    width:250px;
    margin-left: 100px;
  }

}

#facebook:hover{
  position: relative;
  top:-10px;
  
}

#github:hover{
  position: relative;
  top:-10px;
  
}