/* Set page to fit at the height of screen */
body{

  height: 100vh;
}

/* Autocomplete container */
.autocomplete {

  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block; 
}

/* Customize search bar at Stocks Page */
input {

  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.dropdown-menu.show {
  margin-left: -32%;
}

input[type=text] {

  background-color: #fffffff6;
  width: 100%;
}

input[type=submit] {

  background-color: #5B0005;
  color: #fff;
}

/* Customize the container opens down the search bar */
.autocomplete-items {

  position: absolute;
  border: 1px solid #d4d4d4;
  color: #0e0d0df6;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 80%;
  left: 1%;
  right: 0;
  height: 300px;
  width: 210px;
  overflow-y: scroll;
}

.autocomplete-items div {

  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {

  /*when hovering an item:*/
  background-color: #5B0005 !important;
  color: #ffffff;
}

.autocomplete-active {

  /*when navigating through the items using the arrow keys:*/
  background-color: #5B0005 !important;
  color: #ffffff;
}

/* TABS container */
.tab-content{

 padding:0;
  left:0px;
  top:10px;
}

#nav-tabContents{

  padding:0;
  left:0px;
  top:10px;
}



/* Fix dimensions of charts at Stocks page */
#nav-1Day,#nav-3Days,#nav-1Month,#nav-4Months,#nav-1Year,#nav-5Years,#nav-max{
  
  width: 850px;
  height:430px;
}


/* Fix dimensions of charts at Stocks  page 
when width is 1268px and less */
@media only screen and (max-width: 1268px) {

  #nav-1Day,#nav-3Days,#nav-1Month,#nav-4Months,#nav-1Year,#nav-5Years,#nav-max{
   
    width: 100%;
  }

  .container-stock {
   
    margin-left: 0%;
    } 

    /* Position of Tabs */
  .tab-content {

    position: relative;
    right:20px;
    top:40px;
    height: 300px;

    }

  /* Position of search bar when screen gets smaller */

}

/* Position of search bar  */


/* Customize tab bar on Stocks and Userpage page */
#tabs{

background: rgb(255, 255, 255);
  color: rgb(255, 250, 250);
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

  color:#5B0005;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  border-bottom: 4px solid !important;
  font-size: 70px;
  font-weight: bold;
}

#tabs .nav-tabs .nav-link {

  border: 1px solid transparent;  
  color: #5B0005;
  font-size: 15px;
}

/* list in Userpage position and scroll property */
.list-group-stocks{

  padding-left: 5px;
  overflow-y: scroll;
  position: relative;
  top:6%;
}

/* CardBody with analytics of stocks at Stocks page */
#cardBody{

  padding:0;
  color: #0e0d0df6;
  width: 16.2vw;
  height:32.5vh;
  position: relative;
  top:36px;
}

#header,#openCard,#lowCard{

  width:100px;
  padding:0;
  position: relative;
  left:25%;
}

#classChart{

  padding:0;
}

.card-text{

  position: relative;
  right:21px;
}

#open,#PrevClose,#low,#high{

  color: #5B0005;
}

#gettingValuesExample{

  min-height: 24px;
  padding:0;
  color: #5B0005;
}
/* Set row to margin 0 */
.row{  
   
   margin-left:0px;
   margin-right:0px;
}

/* Counter for next search */
.seconds{
  
  min-height: 24px;
  content: "\200b";
  float:left; 
}


#myChart1Day{

  position: relative;
}

#cardBody2{

  padding:0;
  color: #0e0d0df6;
  width: 16.2vw;
  height:15.5vh;
  position: relative;
  top:36px;
  margin-top:2%;
}

.nav-link {
  height: 0px !important;}